@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600);

body{
    font-family: Montserrat;
    background-image: url(http://www.allwhitebackground.com/images/7/Cat-Background-Picture.jpeg);
    background-attachment: fixed;
}

header{
    display: flexbox;
    margin-bottom: 5%;
}

header h1{
    color: rgb(255, 220, 104);
    font-size: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px black;
}

header h1 a:visited{
    text-decoration: none;
    color: rgb(255, 220, 104);
}

header h1 a:link{
    text-decoration: none;
    color: rgb(255, 220, 104);
}

header h1 a:link{
    text-decoration: none;
    color: rgb(255, 220, 104);
}   

header i {
    color:black;
    background-color: rgba(255, 255,255);
    font-size: 50px;
    margin-right: 1em;
    padding: 5px;
    float: right;
    border: 3px solid black;
}

header i:hover{
    transition: .2s;
    transform: scale(1.2);
}

.search{
    margin-top: 2em;
    margin-right: 2em;
    text-align: left;
    size: calc(100%-1em);
}

article img{
    width: 200px;
}

main{
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-align: center;
}

article{
    background-color: white;
    margin-top: 10%;
    border-radius: 40px;
    width: 500px;
    margin: 1% auto 5%;
    padding-bottom: 20px;
}

.price{
    text-align: center;
    color:black;
    font-weight: bold;
    margin-top: 1em;
}

.plus{
    text-align: right;
    border-radius: 10px;
    margin-right: 2em;
    margin-left: 24em;
}

.plus:hover{
    transition: .2s;
    transform: scale(1.2);
}

.plus i{
    border: 2px solid black;
    padding: 6px;
    margin-right: 2em;
}

footer{
    position: relative;
    background-color:rgb(252, 213, 206, 0.95);
    width: 100%;
    display: flex;
    font-size: 20px;
}

footer>ul{
    float: left;
    list-style: none;
    margin: 10px auto;
    padding: 10px;
}

footer ul a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

footer ul a i {
    margin-bottom: 20px;
    font-size: 30px;
}

footer ul a li p {
    font-size: 16px;
}